.header{
    background-color: rgb(22, 22, 75);
    padding: 0.9375rem 3.125rem;
    @media (max-width: 720px){
        padding: 0.9375rem 0.625rem;
    }
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    object-fit: cover;
}

.header__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 4.375rem;
    @media (max-width: 720px){
        display: none;
    }
}


.header__link{
    font-size: 1.5625rem;
    color: var(--orangeColor);
    font-style: italic;
    border-bottom: 1px solid transparent;
    transition: all .3s ease;
    &:hover{
        border-color: var(--orangeColor);
    }
}

.header__button-block{
    background-color: rgb(255, 179, 0);
    padding: 0.3125rem  0.625rem;
    border-radius: 1.25rem;
    width: 4.375rem;
    display: flex;
    align-items: center;
}

.header__button{
    border: none;
    background-color: var(--whiteColor);
    border-radius: 50%;
    height: 1.5625rem;
    width: 1.5625rem;
}
