@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root{
  --robotoFont: "Roboto", sans-serif;
  --whiteColor: #fff;
  --orangeColor: rgb(255, 179, 0);
  --greenColor: rgb(35, 170, 35);
}

body{
  font-family: var(--robotoFont);
  overflow-x: hidden;
  transition: all 0.3s ease;
  background-color: #fff;
  color: #121212;
}

body.dark-theme {
  background-color: #121212 !important;
  color: #fff !important;
}

.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

.container{
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
}